mqtt/nodered/file.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "IoT Integration Flow",
    "disabled": false,
    "info": "Integração ESP32 → MQTT → InfluxDB + Backend API"
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "senai/pii_toy",
    "topic": "senai/pii_toy",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "broker_mqtt",
    "x": 130,
    "y": 200,
    "wires": [["json_node"]]
  },
  {
    "id": "json_node",
    "type": "json",
    "z": "flow1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 310,
    "y": 200,
    "wires": [["store_original", "function_influx"]]
  },
  {
    "id": "store_original",
    "type": "function",
    "z": "flow1",
    "name": "Prepare HTTP Request",
    "func": "// Garante que o payload original do ESP32 vai direto pro backend\n// sem nenhuma transformação — o endpoint /nodered/evento já faz o mapeamento\nmsg.payload = msg.payload;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;",
    "outputs": 1,
    "x": 510,
    "y": 280,
    "wires": [["http_request"]]
  },
  {
    "id": "function_influx",
    "type": "function",
    "z": "flow1",
    "name": "Prepare InfluxDB",
    "func": "let data = msg.payload;\n\nmsg.measurement = \"sensor\";\n\nmsg.payload = [\n    {\n        valor:  1,\n        chassi: data.chassi,\n        etapa:  data.etapa,\n        status: data.status\n    }\n];\n\nreturn msg;",
    "outputs": 1,
    "x": 510,
    "y": 120,
    "wires": [["debug_influx", "influxdb_node"]]
  },
  {
    "id": "debug_influx",
    "type": "debug",
    "z": "flow1",
    "name": "Debug InfluxDB",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 730,
    "y": 80,
    "wires": []
  },
  {
    "id": "influxdb_node",
    "type": "influxdb out",
    "z": "flow1",
    "influxdb": "influxdb_config",
    "name": "InfluxDB",
    "measurement": "sensor",
    "precision": "",
    "retentionPolicy": "",
    "precisionV18FluxV20": "ms",
    "org": "senai",
    "bucket": "linha_producao",
    "x": 720,
    "y": 140,
    "wires": []
  },
  {
    "id": "http_request",
    "type": "http request",
    "z": "flow1",
    "name": "POST Backend API",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://api:8080/api/veiculo/nodered/evento",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 740,
    "y": 280,
    "wires": [["debug_http_response", "check_http_status"]]
  },
  {
    "id": "debug_http_response",
    "type": "debug",
    "z": "flow1",
    "name": "Debug API Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 980,
    "y": 240,
    "wires": []
  },
  {
    "id": "check_http_status",
    "type": "switch",
    "z": "flow1",
    "name": "Check Status",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "200",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "404",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 970,
    "y": 320,
    "wires": [
      ["success_log"],
      ["error_not_found"],
      ["error_other"]
    ]
  },
  {
    "id": "success_log",
    "type": "debug",
    "z": "flow1",
    "name": "✅ Status Atualizado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "Sucesso",
    "statusType": "auto",
    "x": 1200,
    "y": 280,
    "wires": []
  },
  {
    "id": "error_not_found",
    "type": "debug",
    "z": "flow1",
    "name": "⚠️ Veículo Não Encontrado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "Erro 404",
    "statusType": "auto",
    "x": 1220,
    "y": 320,
    "wires": []
  },
  {
    "id": "error_other",
    "type": "debug",
    "z": "flow1",
    "name": "❌ Erro API",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "Erro",
    "statusType": "auto",
    "x": 1170,
    "y": 360,
    "wires": []
  },
  {
    "id": "broker_mqtt",
    "type": "mqtt-broker",
    "name": "IOT Broker",
    "broker": "mqtt",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true
  },
  {
    "id": "influxdb_config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": 8086,
    "protocol": "http",
    "database": "database",
    "name": "IOT InfluxDB",
    "usetls": false,
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "timeout": 10,
    "rejectUnauthorized": false
  }
]
